body {
    background: #3b5e84;
  }
  
  div {
    width: 700px;
    margin: auto;
    font-family: "Helvetica Neue", sans-serif;
    background: #f8f5f5;
    padding: 30px;
  }
  
  #main-header {
    font-size: 22px;
  }
  
  .perspective-questions {
    font-style: italic;
  }